@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Adm @ViewData["Adm"].</p>

<address>
    <strong>More Information: </strong> <a href="https://github.com/William-yun/workshop-asp-core-mvc">William Yun</a>
</address>
